@media (min-width: 769px) and (max-width: 1024px) {

    .img__buger {
        width: 30%;
        height: auto;
        display: flex;
        align-items: center;
    }

    .img__logo {
        width: 100%;
        height: auto;

    }

    #navBarInicio__elementos {
        width: 65%;
    }

    #navBarInicio__elementos a {
        font-size: 3vw;
    }

    #primeira__tela {
        max-height: 750.8px;
        min-height: 500px;
        background-position-x: 65%;
        background-position-y: 65%;
        display: flex;
        background-size: 200% auto;
        align-items: flex-end;
    }

    .primeira__tela__textoInicial {
        justify-content: flex-end;
        position: relative;
        position: static;

        min-height:250px ;
        min-width:350px ;
        max-width: 350px;
        max-height: 450px;

    }

    .primeira__tela__button {
        width: 100%;
        margin: 0;
        height: 20%;
    }

    .primeira__tela__button a {
        width: 30%;
        height: 40%;
        text-decoration: none;
    }

    .primeira__tela__textoInicial :nth-child(1) {

        margin-bottom: 5%;
    }

    #segunda__tela {
        margin-left: 2vw;
        flex-direction: column-reverse;
        height: auto;
    }

    .segunda__tela__img {
        width: 50%;
        margin-top: 2vh;
    }

    .sobreMim__txtPrincipal {
        width: 100%;
    }

    #procedimento__tela {
        height: 250vh;
    }

    .procedimento_model {
        width: calc(70vw/2);
    }

    #procedimento7 {
        margin-right: 0;
    }
    #procedimento10{
margin-right: 0
    }
    .contato__div {
        width: 100%;
    }

    .contato__button a {
        width: 40% !important;
        height: 40% !important;
    }

    .img__footer {
        width: 20%;
        height: auto;
    }

    .funcionamento {
        width: 45%;
    }

    .links {
        width: 35%;
    }

    .footer__contato {
        justify-content: center;
    }

    .icon__rede {
        margin-top: 1vh;
    }

    /* AQUI COMEÇA A PAGINA SOBRE  */
    .sobreMim {
        width: 100vw;
        height: 15vh;
        text-align: center;
        background-color: var(--cor-background);
    }

    .sobreMim p {
        color: white;
        font-size: 7vw;
        font-weight: 300;
        letter-spacing: 0.2em;
        padding-top: 3vh;
    }

    .sobre,
    #sobre__mim {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: auto;
    }

    .sobre img {
        width: 80%;
        height: auto;
    }

    .logo {
        background-image: url("/src/logo/transparencia__rosa.png") ;
        width: 80vw;
        background-position:center;
        background-repeat: no-repeat;
        background-size: 80vw auto;
        margin-top: 3vh;
    }

    .logo span {
        font-size: 4vw;
    }

    .logo h3 {
        font-size: 5vw;
    }
}